body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

*,
*:before *:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*container*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*intro*/
.intro {
  width: 100%;
  height: 100vh;
  background: url("/assets/images/01.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.intro__title {
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
}

.intro__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 60px auto;
  background-color: #fff;
}






.intro__suptitle {
  margin-bottom: 20px;
  font-size: 72px;
  color: #fff;
  font-family: 'Kaushan Script', cursive;
}






.intro_inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}



/*Header*/
.header {
  padding-top: 30px;
  position: absolute;
  top: o;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}





/* Logo*/
.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

/*Nav*/
.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  transition: color .2s linear;
  position: relative;

}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: rgba(12, 219, 182, 1);
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity 0.2s linear;

}





.nav__link:hover {
  color: rgba(12, 219, 182, 1);

}

.nav__link:hover::after .nav__link.active:after {
  display: block;
  opacity: 1;
}

.nav__link.active {
  color: rgba(12, 219, 182, 1);
}





/*Button*/

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  transition: background 0.1s linear,
    color 0.1s linear;

}

.btn:hover {
  background-color: #fff;
  color: rgba(12, 219, 182, 1);
}

/*Slider*/

.slider {
  width: 100%;
  bottom: 0px;
  left: 0px;

  position: absolute;


  z-index: 1;

}

.slider__inner {
  display: flex;
  justify-content: space-between;
}


.slider__item {
  width: 23%;
  padding: 20px 0;
  position: relative;
  border-top: 3px solid #fff;
  opacity: 0.7;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

.slider__item.active {
  opacity: 1;
}

.slider__item.active:before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;

  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
  background-color: rgba(12, 219, 182, 1);
}


.slider__num {
  font-size: 24px;
  font-weight: 700;

}



/*Section*/

.section {
  padding: 80px 0;
}

.section__header {
  width: 100px;
  min-width: 950px;
  margin: 0 auto 40px;
  text-align: center;
}

.section__suptitle {
  font-size: 24px;
  color: #333;
  font-family: 'Kaushan Script', cursive;
}

.section__title {
  font-size: 30px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;

}

.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: rgba(12, 219, 182, 1);
  margin: 40px auto 0;
}

.section__text {
  font-size: 15px;
  color: #999;
}

/*About*/

.about {
  display: flex;
  justify-content: space-between;
}


.about__item {
  width: 30%;
  padding: 0px;
  margin: 0px;
}


.about__image {
  width: 30%;
  padding: 0px;
  margin: 0 px;
}